In [1]:
import pandas as pd
from datetime import date
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_pickle('../datasets/florida_hurricane_dates.pkl')

In [5]:
# Import date from datetime
from datetime import date

# Create a date object
hurricane_andrew = date(1992, 8, 24)

# Which day of the week is the date?
print(hurricane_andrew.weekday())

0

In [8]:
df

[datetime.date(1988, 8, 4),
 datetime.date(1990, 10, 12),
 datetime.date(2003, 4, 20),
 datetime.date(1971, 9, 1),
 datetime.date(1988, 8, 23),
 datetime.date(1994, 8, 15),
 datetime.date(2002, 8, 4),
 datetime.date(1988, 5, 30),
 datetime.date(2003, 9, 13),
 datetime.date(2009, 8, 21),
 datetime.date(1978, 6, 22),
 datetime.date(1969, 6, 9),
 datetime.date(1976, 6, 11),
 datetime.date(1976, 8, 19),
 datetime.date(1966, 6, 9),
 datetime.date(1968, 7, 5),
 datetime.date(1987, 11, 4),
 datetime.date(1988, 8, 13),
 datetime.date(2007, 12, 13),
 datetime.date(1994, 11, 16),
 datetime.date(2003, 9, 6),
 datetime.date(1971, 8, 13),
 datetime.date(1981, 8, 17),
 datetime.date(1998, 9, 25),
 datetime.date(1968, 9, 26),
 datetime.date(1968, 6, 4),
 datetime.date(1998, 11, 5),
 datetime.date(2008, 8, 18),
 datetime.date(1987, 8, 14),
 datetime.date(1988, 11, 23),
 datetime.date(2010, 9, 29),
 datetime.date(1985, 7, 23),
 datetime.date(2017, 7, 31),
 datetime.date(1955, 8, 21),
 datetime.date(1986, 6, 26),
 datetime.date(1963, 10, 21),
 datetime.date(2011, 10, 28),
 datetime.date(2011, 11, 9),
 datetime.date(1997, 7, 19),
 datetime.date(2007, 6, 2),
 datetime.date(2002, 9, 14),
 datetime.date(1992, 9, 29),
 datetime.date(1971, 10, 13),
 datetime.date(1962, 8, 26),
 datetime.date(1964, 8, 27),
 datetime.date(1984, 9, 27),
 datetime.date(1973, 9, 25),
 datetime.date(1969, 10, 21),
 datetime.date(1994, 7, 3),
 datetime.date(1958, 9, 4),
 datetime.date(1985, 11, 21),
 datetime.date(2011, 9, 3),
 datetime.date(1972, 6, 19),
 datetime.date(1991, 6, 30),
 datetime.date(2004, 8, 12),
 datetime.date(2007, 9, 8),
 datetime.date(1952, 2, 3),
 datetime.date(1965, 9, 30),
 datetime.date(2000, 9, 22),
 datetime.date(2002, 9, 26),
 datetime.date(1950, 9, 5),
 datetime.date(1966, 10, 4),
 datetime.date(1970, 5, 25),
 datetime.date(1979, 9, 24),
 datetime.date(1960, 9, 23),
 datetime.date(2007, 8, 23),
 datetime.date(2009, 8, 16),
 datetime.date(1996, 10, 18),
 datetime.date(2012, 10, 25),
 datetime.date(2011, 8, 25),
 datetime.date(1951, 5, 18),
 datetime.date(1980, 8, 7),
 datetime.date(1979, 9, 3),
 datetime.date(1953, 9, 26),
 datetime.date(1968, 10, 19),
 datetime.date(2009, 11, 9),
 datetime.date(1999, 8, 29),
 datetime.date(2015, 10, 1),
 datetime.date(2008, 9, 2),
 datetime.date(2004, 10, 10),
 datetime.date(2004, 9, 16),
 datetime.date(1992, 8, 24),
 datetime.date(2000, 9, 9),
 datetime.date(1971, 9, 16),
 datetime.date(1996, 9, 2),
 datetime.date(1998, 9, 3),
 datetime.date(1951, 10, 2),
 datetime.date(1979, 9, 12),
 datetime.date(2007, 10, 31),
 datetime.date(1953, 10, 9),
 datetime.date(1952, 8, 30),
 datetime.date(1969, 9, 7),
 datetime.date(2015, 8, 30),
 datetime.date(1959, 10, 8),
 datetime.date(2002, 7, 13),
 datetime.date(1961, 10, 29),
 datetime.date(2007, 5, 9),
 datetime.date(2016, 10, 7),
 datetime.date(1964, 9, 20),
 datetime.date(1979, 7, 11),
 datetime.date(1950, 10, 18),
 datetime.date(2008, 8, 31),
 datetime.date(2012, 8, 25),
 datetime.date(1966, 7, 24),
 datetime.date(2010, 8, 10),
 datetime.date(2005, 8, 25),
 datetime.date(2003, 6, 30),
 datetime.date(1956, 7, 6),
 datetime.date(1974, 9, 8),
 datetime.date(1966, 6, 30),
 datetime.date(2016, 9, 14),
 datetime.date(1968, 6, 18),
 datetime.date(1982, 9, 11),
 datetime.date(1976, 9, 13),
 datetime.date(1975, 7, 29),
 datetime.date(2007, 9, 13),
 datetime.date(1970, 9, 27),
 datetime.date(1969, 10, 2),
 datetime.date(2010, 8, 31),
 datetime.date(1995, 10, 4),
 datetime.date(1969, 8, 29),
 datetime.date(1984, 10, 26),
 datetime.date(1973, 9, 3),
 datetime.date(1976, 5, 23),
 datetime.date(2001, 11, 5),
 datetime.date(2010, 6, 30),
 datetime.date(1985, 10, 10),
 datetime.date(1970, 7, 22),
 datetime.date(1972, 5, 28),
 datetime.date(1982, 6, 18),
 datetime.date(2001, 8, 6),
 datetime.date(1953, 8, 29),
 datetime.date(1965, 9, 8),
 datetime.date(1964, 9, 10),
 datetime.date(1959, 10, 18),
 datetime.date(1957, 6, 8),
 datetime.date(1988, 9, 10),
 datetime.date(2005, 6, 11),
 datetime.date(1953, 6, 6),
 datetime.date(2003, 8, 30),
 datetime.date(2002, 10, 3),
 datetime.date(1968, 8, 10),
 datetime.date(1999, 10, 15),
 datetime.date(2002, 9, 4),
 datetime.date(2001, 6, 12),
 datetime.date(2017, 9, 10),
 datetime.date(2005, 10, 5),
 datetime.date(2005, 7, 10),
 datetime.date(1973, 6, 7),
 datetime.date(1999, 9, 15),
 datetime.date(2005, 9, 20),
 datetime.date(1995, 6, 5),
 datetime.date(2003, 7, 25),
 datetime.date(2004, 9, 13),
 datetime.date(1964, 6, 6),
 datetime.date(1973, 6, 23),
 datetime.date(2005, 9, 12),
 datetime.date(2012, 6, 23),
 datetime.date(1961, 9, 11),
 datetime.date(1990, 5, 25),
 datetime.date(2017, 6, 21),
 datetime.date(1975, 6, 27),
 datetime.date(1959, 6, 18),
 datetime.date(2004, 9, 5),
 datetime.date(1987, 10, 12),
 datetime.date(1995, 7, 27),
 datetime.date(1964, 10, 14),
 datetime.date(1970, 8, 6),
 datetime.date(1969, 10, 1),
 datetime.date(1996, 10, 8),
 datetime.date(1968, 8, 28),
 datetime.date(1956, 10, 15),
 datetime.date(1975, 9, 23),
 datetime.date(1970, 9, 13),
 datetime.date(1975, 10, 16),
 datetime.date(1990, 10, 9),
 datetime.date(2005, 10, 24),
 datetime.date(1950, 8, 31),
 datetime.date(2000, 10, 3),
 datetime.date(2002, 10, 11),
 datetime.date(1983, 8, 28),
 datetime.date(1960, 7, 29),
 datetime.date(1950, 10, 21),
 datetime.date(1995, 8, 2),
 datetime.date(1956, 9, 24),
 datetime.date(2016, 9, 1),
 datetime.date(1993, 6, 1),
 datetime.date(1987, 9, 7),
 datetime.date(2012, 5, 28),
 datetime.date(1995, 8, 23),
 datetime.date(1969, 8, 18),
 datetime.date(2001, 9, 14),
 datetime.date(2000, 8, 23),
 datetime.date(1974, 10, 7),
 datetime.date(1986, 8, 13),
 datetime.date(1977, 8, 27),
 datetime.date(2008, 7, 16),
 datetime.date(1996, 7, 11),
 datetime.date(1988, 9, 4),
 datetime.date(1975, 10, 1),
 datetime.date(2003, 8, 14),
 datetime.date(1957, 9, 8),
 datetime.date(2005, 7, 6),
 datetime.date(1960, 9, 15),
 datetime.date(1974, 9, 27),
 datetime.date(1965, 6, 15),
 datetime.date(1999, 9, 21),
 datetime.date(2004, 8, 13),
 datetime.date(1994, 10, 2),
 datetime.date(1971, 8, 10),
 datetime.date(2008, 7, 22),
 datetime.date(2000, 9, 18),
 datetime.date(1960, 9, 10),
 datetime.date(2006, 6, 13),
 datetime.date(2017, 10, 29),
 datetime.date(1972, 9, 5),
 datetime.date(1964, 10, 5),
 datetime.date(1991, 10, 16),
 datetime.date(1969, 9, 21),
 datetime.date(1998, 9, 20),
 datetime.date(1977, 9, 5),
 datetime.date(1988, 9, 13),
 datetime.date(1974, 6, 25),
 datetime.date(2010, 7, 23),
 datetime.date(2007, 9, 22),
 datetime.date(1984, 9, 9),
 datetime.date(1989, 9, 22),
 datetime.date(1992, 6, 25),
 datetime.date(1971, 8, 29),
 datetime.date(1953, 9, 20),
 datetime.date(1985, 8, 15),
 datetime.date(2016, 6, 6),
 datetime.date(2006, 8, 30),
 datetime.date(1980, 11, 18),
 datetime.date(2011, 7, 18)]

In [9]:
# Counter for how many before June 1
early_hurricanes = 0

# We loop over the dates
for hurricane in df:
  # Check if the month is before June (month number 6)
  if hurricane.month < 6:
    early_hurricanes = early_hurricanes + 1
    
print(early_hurricanes)

10

In [10]:
# Import date
# from datetime import date

# Create a date object for May 9th, 2007
start = date(2007, 5, 9)

# Create a date object for December 13th, 2007
end = date(2007, 12, 13)

# Subtract the two dates and print the number of days
print((end - start).days)

218

In [11]:
# A dictionary to count hurricanes per calendar month
hurricanes_each_month = {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6:0,
		  				 7: 0, 8:0, 9:0, 10:0, 11:0, 12:0}

# Loop over all hurricanes
for hurricane in df:
  # Pull out the month
  month = hurricane.month
  # Increment the count in your dictionary by one
  hurricanes_each_month[month] += 1
  
print(hurricanes_each_month)

{1: 0, 2: 1, 3: 0, 4: 1, 5: 8, 6: 32, 7: 21, 8: 49, 9: 70, 10: 43, 11: 9, 12: 1}

In [12]:
# # Print the first and last scrambled dates
# print(dates_scrambled[0])
# print(dates_scrambled[-1])

# # Put the dates in order
# dates_ordered = sorted(dates_scrambled)

# # Print the first and last ordered dates
# print(dates_ordered[0])
# print(dates_ordered[-1])

In [13]:
# Assign the earliest date to first_date
first_date = min(df)

# Convert to ISO and US formats
iso = "Our earliest hurricane date: " + first_date.isoformat()
us = "Our earliest hurricane date: " + first_date.strftime('%m/%d/%Y')

print("ISO: " + iso)
print("US: " + us)

ISO: Our earliest hurricane date: 1950-08-31
US: Our earliest hurricane date: 08/31/1950

In [14]:
# Import date
from datetime import date

# Create a date object
andrew = date(1992, 8, 26)

# Print the date in the format 'YYYY-DDD'
print(andrew.strftime('%Y-%j'))

1992-239

In [15]:
# Import date
from datetime import date

# Create a date object
andrew = date(1992, 8, 26)

# Print the date in the format 'MONTH (YYYY)'
print(andrew.strftime('%B (%Y)'))

August (1992)

In [16]:
# Import datetime
from datetime import datetime

# Create a datetime object
dt = datetime(2017, 10, 1, 15, 26, 26)

# Print the results in ISO 8601 format
print(dt.isoformat())

2017-10-01T15:26:26

In [17]:
# Import datetime
# from datetime import datetime

# Create a datetime object
dt = datetime(2017, 12, 31, 15, 19, 13)

# Print the results in ISO 8601 format
print(dt.isoformat())

2017-12-31T15:19:13

In [18]:
# Import datetime
# from datetime import datetime

# Create a datetime object
dt = datetime(2017, 12, 31, 15, 19, 13)

# Replace the year with 1917
dt_old = dt.replace(year=1917)

# Print the results in ISO 8601 format
print(dt_old)

1917-12-31 15:19:13

In [19]:
bike = pd.read_csv('../datasets/capital-onebike.csv')

In [20]:
bike.head()

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member
3,2017-10-02 08:56:45,2017-10-02 09:18:03,31037,Ballston Metro / N Stuart & 9th St N,31295,Potomac & M St NW,W20529,Member
4,2017-10-02 18:23:48,2017-10-02 18:45:05,31295,Potomac & M St NW,31230,Metro Center / 12th & G St NW,W20529,Member

In [21]:
# onebike = [{'start': start, 'end': end} start = st. for st in bike['Start date'] ]

In [22]:
# # Create dictionary to hold results
# trip_counts = {'AM': 0, 'PM': 0}
  
# # Loop over all trips
# for trip in onebike_datetimes:
#   # Check to see if the trip starts before noon
#   if trip['start'].hour < 12:
#     # Increment the counter for before noon
#     trip_counts['AM'] += 1
#   else:
#     # Increment the counter for after noon
#     trip_counts['PM'] += 1
  
# print(trip_counts)

In [24]:
all_dates = []
for bikes in bike['Start date']:
    dt = bikes[0:10].split('-')
    all_dates.append(dt)

In [27]:
real_dates = []
for dates in all_dates:
    dt1 = date(year = int(dates[0]), month = int(dates[1]), day = int(dates[2]))
    real_dates.append(dt1)

In [28]:
real_dates[0]

datetime.date(2017, 10, 1)

In [29]:
# Import the datetime class
# from datetime import datetime

# Starting string, in MM/DD/YYYY HH:MM:SS format
s = '12/15/1986 08:00:00'

# Write a format string to parse s
fmt = '%m/%d/%Y %H:%M:%S'

# Create a datetime object d
d = datetime.strptime(s, fmt)

# Print d
print(d)

1986-12-15 08:00:00

In [34]:
emp_df = bike.iloc[:, [0, 1]]

In [35]:
emp_df.head()

            Start date             End date
0  2017-10-01 15:23:25  2017-10-01 15:26:26
1  2017-10-01 15:42:57  2017-10-01 17:49:59
2  2017-10-02 06:37:10  2017-10-02 06:42:53
3  2017-10-02 08:56:45  2017-10-02 09:18:03
4  2017-10-02 18:23:48  2017-10-02 18:45:05

In [50]:
start_end_dates = []
for i,j in emp_df.iterrows():
    li = (j['Start date'], j['End date'])
    start_end_dates.append(li)

In [51]:
print(start_end_dates[0])

('2017-10-01 15:23:25', '2017-10-01 15:26:26')

In [52]:
# Write down the format string
fmt = "%Y-%m-%d %H:%M:%S"

# Initialize a list for holding the pairs of datetime objects
onebike_datetimes = []

# Loop over all trips
for (start, end) in start_end_dates:
  trip = {'start': datetime.strptime(start, fmt),
          'end': datetime.strptime(end, fmt)}
  
  # Append the trip
  onebike_datetimes.append(trip)

In [53]:
onebike_datetimes[0]

{'start': datetime.datetime(2017, 10, 1, 15, 23, 25),
 'end': datetime.datetime(2017, 10, 1, 15, 26, 26)}

In [54]:
# Import datetime
# from datetime import datetime

# Pull out the start of the first trip
first_start = onebike_datetimes[0]['start']

# Format to feed to strftime()
fmt = "%Y-%m-%dT%H:%M:%S"

# Print out date with .isoformat(), then with .strftime() to compare
print(first_start.isoformat())
print(first_start.strftime(fmt))

2017-10-01T15:23:25
2017-10-01T15:23:25

In [55]:
# Import datetime
# from datetime import datetime

# Starting timestamps
timestamps = [1514665153, 1514664543]

# Datetime objects
dts = []

# Loop
for ts in timestamps:
  dts.append(datetime.fromtimestamp(ts))
  
# Print results
print(dts)

[datetime.datetime(2017, 12, 31, 1, 49, 13), datetime.datetime(2017, 12, 31, 1, 39, 3)]

In [56]:
# Initialize a list for all the trip durations
onebike_durations = []

for trip in onebike_datetimes:
  # Create a timedelta object corresponding to the length of the trip
  trip_duration = trip['end'] - trip['start']
  
  # Get the total elapsed seconds in trip_duration
  trip_length_seconds = trip_duration.total_seconds()
  
  # Append the results to our list
  onebike_durations.append(trip_length_seconds)

In [57]:
onebike_durations[0]

181.0

In [58]:
# What was the total duration of all trips?
total_elapsed_time = sum(onebike_durations)

# What was the total number of trips?
number_of_trips = len(onebike_durations)
  
# Divide the total duration by the number of trips
print(total_elapsed_time / number_of_trips)

1178.9310344827586

In [59]:
# Calculate shortest and longest trips
shortest_trip = min(onebike_durations)
longest_trip = max(onebike_durations)

# Print out the results
print("The shortest trip was " + str(shortest_trip) + " seconds")
print("The longest trip was " + str(longest_trip) + " seconds")

The shortest trip was -3346.0 seconds
The longest trip was 76913.0 seconds