In [1]:
# Import pandas
import pandas as pd

# Read 'Bronze.csv' into a DataFrame: bronze
bronze = pd.read_csv('../datasets/Bronze.csv')

# Read 'Silver.csv' into a DataFrame: silver
silver = pd.read_csv('../datasets/Silver.csv')

# Read 'Gold.csv' into a DataFrame: gold
gold = pd.read_csv('../datasets/Gold.csv')
# Print the first five rows of gold
print(gold.head())

   NOC         Country   Total
0  USA   United States  2088.0
1  URS    Soviet Union   838.0
2  GBR  United Kingdom   498.0
3  FRA          France   378.0
4  GER         Germany   407.0

In [2]:
# Import pandas
import pandas as pd

# Create the list of file names: filenames
filenames = ['Gold.csv', 'Silver.csv', 'Bronze.csv']

# Create the list of three DataFrames: dataframes
dataframes = []
for filename in filenames:
    dataframes.append(pd.read_csv('../datasets/{}'.format(filename)))

# Print top 5 rows of 1st DataFrame in dataframes
print(dataframes[0].head())

   NOC         Country   Total
0  USA   United States  2088.0
1  URS    Soviet Union   838.0
2  GBR  United Kingdom   498.0
3  FRA          France   378.0
4  GER         Germany   407.0

In [3]:
# Import pandas
import pandas as pd

# Make a copy of gold: medals
medals = gold.copy()

# Create list of new column labels: new_labels
new_labels = ['NOC', 'Country', 'Gold']

# Rename the columns of medals using new_labels
medals.columns = new_labels

# Add columns 'Silver' & 'Bronze' to medals
medals['Silver'] = silver['Total']
medals['Bronze'] = bronze['Total']

# Print the head of medals
print(medals.head())

   NOC         Country    Gold  Silver  Bronze
0  USA   United States  2088.0  1195.0  1052.0
1  URS    Soviet Union   838.0   627.0   584.0
2  GBR  United Kingdom   498.0   591.0   505.0
3  FRA          France   378.0   461.0   475.0
4  GER         Germany   407.0   350.0   454.0

In [4]:
# # Import pandas
# import pandas as pd

# # Read 'monthly_max_temp.csv' into a DataFrame: weather1
# weather1 = pd.read_csv('../datasets/pittsburgh2013.csv', index_col='Month')

# # Print the head of weather1
# print(weather1.head())

# # Sort the index of weather1 in alphabetical order: weather2
# weather2 = weather1.sort_index()

# # Print the head of weather2
# print(weather2.head())

# # Sort the index of weather1 in reverse alphabetical order: weather3
# weather3 = weather1.sort_index(ascending=False)

# # Print the head of weather3
# print(weather3.head())

# # Sort weather1 numerically using the values of 'Max TemperatureF': weather4
# weather4 = weather1.sort_values('Max TemperatureF')

# # Print the head of weather4
# print(weather4.head())

In [5]:
# Import pandas
import pandas as pd
names_1981 = pd.read_csv('../datasets/names1981.csv', header = None, names = ['name', 'gender', 'count'], index_col = (0, 1))
names_1881 = pd.read_csv('../datasets/names1881.csv', header = None, names = ['name', 'gender', 'count'], index_col = (0, 1))

# Reindex names_1981 with index of names_1881: common_names
common_names = names_1981.reindex(names_1881.index)

# Print shape of common_names
print(common_names.shape)

# Drop rows with null counts: common_names
common_names = common_names.dropna()

# Print shape of new common_names
print(common_names.shape)

(1935, 1)
(1587, 1)

In [6]:
# Extract selected columns from weather as new DataFrame: temps_f

weather = pd.read_csv('../datasets/pittsburgh2013.csv')
temps_f = weather[['Min TemperatureF', 'Mean TemperatureF', 'Max TemperatureF']]

# Convert temps_f to celsius: temps_c
temps_c = (temps_f -32) * 5/9

# Rename 'F' in column names with 'C': temps_c.columns
temps_c.columns = temps_c.columns.str.replace('F', 'C')

# Print first 5 rows of temps_c
print(temps_c.head())

   Min TemperatureC  Mean TemperatureC  Max TemperatureC
0         -6.111111          -2.222222          0.000000
1         -8.333333          -6.111111         -3.888889
2         -8.888889          -4.444444          0.000000
3         -2.777778          -2.222222         -1.111111
4         -3.888889          -1.111111          1.111111

In [7]:
import pandas as pd

# Read 'GDP.csv' into a DataFrame: gdp
gdp = pd.read_csv('../datasets/gdp_usa.csv', index_col = 'DATE', parse_dates = True)

# Slice all the gdp data from 2008 onward: post2008
post2008 = gdp.loc['2008-01-01':, :]

# Print the last 8 rows of post2008
print(post2008.tail(8))

# Resample post2008 by year, keeping last(): yearly
yearly = post2008.resample('A').last()

# Print yearly
print(yearly)

# Compute percentage growth of yearly: yearly['growth']
yearly['growth'] = yearly.pct_change() * 100

# Print yearly again
print(yearly)

              VALUE
DATE
2014-07-01  17569.4
2014-10-01  17692.2
2015-01-01  17783.6
2015-04-01  17998.3
2015-07-01  18141.9
2015-10-01  18222.8
2016-01-01  18281.6
2016-04-01  18436.5
              VALUE
DATE
2008-12-31  14549.9
2009-12-31  14566.5
2010-12-31  15230.2
2011-12-31  15785.3
2012-12-31  16297.3
2013-12-31  16999.9
2014-12-31  17692.2
2015-12-31  18222.8
2016-12-31  18436.5
              VALUE    growth
DATE
2008-12-31  14549.9       NaN
2009-12-31  14566.5  0.114090
2010-12-31  15230.2  4.556345
2011-12-31  15785.3  3.644732
2012-12-31  16297.3  3.243524
2013-12-31  16999.9  4.311144
2014-12-31  17692.2  4.072377
2015-12-31  18222.8  2.999062
2016-12-31  18436.5  1.172707

In [8]:
# Import pandas
import pandas as pd

# Read 'sp500.csv' into a DataFrame: sp500
sp500 = pd.read_csv('../datasets/sp500.csv', parse_dates=True, index_col='Date')

# Read 'exchange.csv' into a DataFrame: exchange
exchange = pd.read_csv('../datasets/exchange.csv', parse_dates=True, index_col='Date')

# Subset 'Open' & 'Close' columns from sp500: dollars
dollars = sp500.loc[:, ['Open','Close']]

# Print the head of dollars
print(dollars.head())

# Convert dollars to pounds: pounds
pounds = dollars.multiply(exchange['GBP/USD'], axis = 'rows')

# Print the head of pounds
print(pounds.head())

                   Open        Close
Date
2015-01-02  2058.899902  2058.199951
2015-01-05  2054.439941  2020.579956
2015-01-06  2022.150024  2002.609985
2015-01-07  2005.550049  2025.900024
2015-01-08  2030.609985  2062.139893
                   Open        Close
Date
2015-01-02  1340.364425  1339.908750
2015-01-05  1348.616555  1326.389506
2015-01-06  1332.515980  1319.639876
2015-01-07  1330.562125  1344.063112
2015-01-08  1343.268811  1364.126161

In [9]:
# Import pandas
import pandas as pd

# Load 'sales-jan-2015.csv' into a DataFrame: jan
jan = pd.read_csv('../datasets/sales-jan-2015.csv', parse_dates = True, index_col = 'Date')

# Load 'sales-feb-2015.csv' into a DataFrame: feb
feb = pd.read_csv('../datasets/sales-feb-2015.csv', parse_dates = True, index_col = 'Date')

# Load 'sales-mar-2015.csv' into a DataFrame: mar
mar = pd.read_csv('../datasets/sales-mar-2015.csv', parse_dates = True, index_col = 'Date')

# Extract the 'Units' column from jan: jan_units
jan_units = jan['Units']

# Extract the 'Units' column from feb: feb_units
feb_units = feb['Units']

# Extract the 'Units' column from mar: mar_units
mar_units = mar['Units']

# Append feb_units and then mar_units to jan_units: quarter1
quarter1 = jan_units.append(feb_units).append(mar_units)

# Print the first slice from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])

# Print the second slice from quarter1
print(quarter1.loc['feb 26, 2015': 'mar 7, 2015'])

# Compute & print total sales in quarter1
print(quarter1.sum())

Date
2015-01-27 07:11:55    18
2015-02-02 08:33:01     3
2015-02-02 20:54:49     9
Name: Units, dtype: int64
Date
2015-02-26 08:57:45     4
2015-02-26 08:58:51     1
2015-03-06 10:11:45    17
2015-03-06 02:03:56    17
Name: Units, dtype: int64
642

In [10]:
# Initialize empty list: units
units = []

# Build the list of Series
for month in [jan, feb, mar]:
    units.append(month['Units'])

# Concatenate the list: quarter1
quarter1 = pd.concat(units, axis = 'rows')

# Print slices from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])
print(quarter1.loc['feb 26, 2015':'mar 7, 2015'])

Date
2015-01-27 07:11:55    18
2015-02-02 08:33:01     3
2015-02-02 20:54:49     9
Name: Units, dtype: int64
Date
2015-02-26 08:57:45     4
2015-02-26 08:58:51     1
2015-03-06 10:11:45    17
2015-03-06 02:03:56    17
Name: Units, dtype: int64

In [11]:
# Add 'year' column to names_1881 & names_1981
names_1881['year'] = 1881
names_1981['year'] = 1981

# Append names_1981 after names_1881 with ignore_index=True: combined_names
combined_names = names_1881.append(names_1981, ignore_index=False)

# Print shapes of names_1981, names_1881, and combined_names
print(names_1981.shape)
print(names_1881.shape)
print(combined_names.shape)

# Print all rows that contain the name 'Morgan'
print(combined_names.loc[combined_names['name']=='Morgan'])

(19455, 2)
(1935, 2)
(21390, 2)

KeyError: 'name'

In [15]:
print(common_names)

                    count
name      gender
Mary      F       11030.0
Anna      F        5182.0
Emma      F         532.0
Elizabeth F       20168.0
Margaret  F        2791.0
...                   ...
Wells     M           6.0
Wiliam    M          11.0
Wilton    M          33.0
Wing      M           8.0
Wright    M           6.0

[1587 rows x 1 columns]

In [16]:
# #Initialize an empyy list: medals
# medals =[]
medal_types = ['silver', 'gold', 'bronze']

# for medal in medal_types:
#     # Create the file name: file_name
#     file_name = "%s_top5.csv" % medal
#     # Create list of column names: columns
#     columns = ['Country', medal]
#     # Read file_name into a DataFrame: medal_df
#     medal_df = pd.read_csv(file_name, header = 0,        index_col= 'Country', names = columns)
#     # Append medal_df to medals
#     medals.append(medal_df)

# # Concatenate medals horizontally: medals_df
# medals_df = pd.concat(medals, axis = 'columns')

# # Print medals_df
# print(medals_df)

In [17]:
# for medal in medal_types:

#     file_name = "%s_top5.csv" % medal
    
#     # Read file_name into a DataFrame: medal_df
#     medal_df = pd.read_csv(file_name, index_col = 'Country')
    
#     # Append medal_df to medals
#     medals.append(medal_df)
    
# # Concatenate medals: medals
# medals = pd.concat(medals, keys=['bronze', 'silver', 'gold'])

# # Print medals in entirety
# print(medals)

In [18]:
# # Sort the entries of medals: medals_sorted
# medals_sorted = medals.sort_index(level=0)

# # Print the number of Bronze medals won by Germany
# print(medals_sorted.loc[('bronze','Germany')])

# # Print data about silver medals
# print(medals_sorted.loc['silver'])

# # Create alias for pd.IndexSlice: idx
# idx = pd.IndexSlice

# # Print all the data on medals won by the United Kingdom
# print(medals_sorted.loc[idx[:, 'United Kingdom'], :])

In [19]:
# Make the list of tuples: month_list
month_list = [('january', jan), ('february', feb), ('march', mar)]

# Create an empty dictionary: month_dict
month_dict = {}

for month_name, month_data in month_list:

    # Group month_data: month_dict[month_name]
    month_dict[month_name] = month_data.groupby('Company').sum()

# Concatenate data in month_dict: sales
sales = pd.concat(month_dict)

# Print sales
print(sales)

# Print all sales by Mediacore
idx = pd.IndexSlice
print(sales.loc[idx[:, 'Mediacore'], :])

                          Units
         Company
january  Acme Coporation     76
         Hooli               70
         Initech             37
         Mediacore           15
         Streeplex           50
february Acme Coporation     34
         Hooli               30
         Initech             30
         Mediacore           45
         Streeplex           37
march    Acme Coporation      5
         Hooli               37
         Initech             68
         Mediacore           68
         Streeplex           40
                    Units
         Company
january  Mediacore     15
february Mediacore     45
march    Mediacore     68

In [20]:
# Create the list of DataFrames: medal_list
medal_list = [bronze,silver, gold]

# Concatenate medal_list horizontally using an inner join: medals
medals = pd.concat(medal_list, keys = ['bronze', 'silver', 'gold'], axis = 1,join = 'inner')

# Print medals
print(medals)

    bronze                               silver                                \
       NOC               Country   Total    NOC               Country   Total
0      USA         United States  1052.0    USA         United States  1195.0
1      URS          Soviet Union   584.0    URS          Soviet Union   627.0
2      GBR        United Kingdom   505.0    GBR        United Kingdom   591.0
3      FRA                France   475.0    FRA                France   461.0
4      GER               Germany   454.0    GER               Germany   350.0
..     ...                   ...     ...    ...                   ...     ...
133    SEN               Senegal     NaN    SEN               Senegal     1.0
134    SUD                 Sudan     NaN    SUD                 Sudan     1.0
135    TGA                 Tonga     NaN    TGA                 Tonga     1.0
136    BDI               Burundi     NaN    BDI               Burundi     NaN
137    UAE  United Arab Emirates     NaN    UAE  United Arab Emirates     NaN

    gold
     NOC               Country   Total
0    USA         United States  2088.0
1    URS          Soviet Union   838.0
2    GBR        United Kingdom   498.0
3    FRA                France   378.0
4    GER               Germany   407.0
..   ...                   ...     ...
133  SEN               Senegal     NaN
134  SUD                 Sudan     NaN
135  TGA                 Tonga     NaN
136  BDI               Burundi     1.0
137  UAE  United Arab Emirates     1.0

[138 rows x 9 columns]

In [21]:
china = pd.read_csv('../datasets/gdp_china.csv', parse_dates=True, index_col = 'Year')

china.head()

                  GDP
Year
1960-01-01  59.184116
1961-01-01  49.557050
1962-01-01  46.685179
1963-01-01  50.097303
1964-01-01  59.062255

In [22]:
china = china.rename(columns={"GDP": "China"})

china.head()

                China
Year
1960-01-01  59.184116
1961-01-01  49.557050
1962-01-01  46.685179
1963-01-01  50.097303
1964-01-01  59.062255

In [23]:
us = pd.read_csv('../datasets/gdp_usa.csv', index_col = 'DATE', parse_dates = True)

us['Year'] = us.index

us = us.reindex(us.Year)

# us.head()
us = us.loc[:, ['VALUE']]

us.head()

            VALUE
Year
1947-01-01  243.1
1947-04-01  246.3
1947-07-01  250.1
1947-10-01  260.3
1948-01-01  266.2

In [24]:
us = us.rename(columns={'VALUE':'US'})

us.head()

               US
Year
1947-01-01  243.1
1947-04-01  246.3
1947-07-01  250.1
1947-10-01  260.3
1948-01-01  266.2

In [25]:
# Resample and tidy china: china_annual

# china = pd.read_csv('../datasets/gdp_china.csv')
china_annual = china.resample('A').last().pct_change(10).dropna()

# Resample and tidy us: us_annual
us_annual = us.resample('A').last().pct_change(10).dropna()

# Concatenate china_annual and us_annual: gdp
gdp = pd.concat([china_annual, us_annual], axis=1, join='inner')

# Resample gdp and print
print(gdp.resample('10A').last())

               China        US
Year
1970-12-31  0.546128  1.017187
1980-12-31  1.072537  1.742556
1990-12-31  0.892820  1.012126
2000-12-31  2.357522  0.738632
2010-12-31  4.011081  0.454332
2020-12-31  3.789936  0.361780

In [26]:
us.head()

               US
Year
1947-01-01  243.1
1947-04-01  246.3
1947-07-01  250.1
1947-10-01  260.3
1948-01-01  266.2

In [27]:
print(us.index)

DatetimeIndex(['1947-01-01', '1947-04-01', '1947-07-01', '1947-10-01',
               '1948-01-01', '1948-04-01', '1948-07-01', '1948-10-01',
               '1949-01-01', '1949-04-01',
               ...
               '2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01',
               '2015-01-01', '2015-04-01', '2015-07-01', '2015-10-01',
               '2016-01-01', '2016-04-01'],
              dtype='datetime64[ns]', name='Year', length=278, freq=None)

In [28]:
#Import pandas
import pandas as pd

# Create file path: file_path
file_path = '../datasets/Summer Olympic medalists 1896 to 2008 - EDITIONS.tsv'

# Load DataFrame from file_path: editions
editions = pd.read_csv(file_path, sep='\t')

# Extract the relevant columns: editions
editions = editions[['Edition', 'Grand Total', 'City', 'Country']]

# Print editions DataFrame
print(editions)

    Edition  Grand Total         City                     Country
0      1896          151       Athens                      Greece
1      1900          512        Paris                      France
2      1904          470    St. Louis               United States
3      1908          804       London              United Kingdom
4      1912          885    Stockholm                      Sweden
5      1920         1298      Antwerp                     Belgium
6      1924          884        Paris                      France
7      1928          710    Amsterdam                 Netherlands
8      1932          615  Los Angeles               United States
9      1936          875       Berlin                     Germany
10     1948          814       London              United Kingdom
11     1952          889     Helsinki                     Finland
12     1956          885    Melbourne                   Australia
13     1960          882         Rome                       Italy
14     1964         1010        Tokyo                       Japan
15     1968         1031  Mexico City                      Mexico
16     1972         1185       Munich  West Germany (now Germany)
17     1976         1305     Montreal                      Canada
18     1980         1387       Moscow       U.S.S.R. (now Russia)
19     1984         1459  Los Angeles               United States
20     1988         1546        Seoul                 South Korea
21     1992         1705    Barcelona                       Spain
22     1996         1859      Atlanta               United States
23     2000         2015       Sydney                   Australia
24     2004         1998       Athens                      Greece
25     2008         2042      Beijing                       China

In [31]:
# Import pandas
# import pandas as pd

# Create the file path: file_path
file_path = '../datasets/Summer Olympic medalists 1896 to 2008 - IOC COUNTRY CODES.csv'

# Load DataFrame from file_path: ioc_codes
ioc_codes = pd.read_csv(file_path)

# Extract the relevant columns: ioc_codes
ioc_codes = ioc_codes[['Country', 'NOC']]

# Print first and last 5 rows of ioc_codes
print(ioc_codes.head())
print(ioc_codes.tail())

           Country  NOC
0      Afghanistan  AFG
1          Albania  ALB
2          Algeria  ALG
3  American Samoa*  ASA
4          Andorra  AND
             Country  NOC
196          Vietnam  VIE
197  Virgin Islands*  ISV
198            Yemen  YEM
199           Zambia  ZAM
200         Zimbabwe  ZIM

In [34]:
# # Import pandas
# # import pandas as pd

# # Create empty dictionary: medals_dict
# medals_dict = {}

# for year in editions['Edition']:

#     # Create the file path: file_path
#     file_path = '../datasets/summer_{:d}.csv'.format(year)
    
#     # Load file_path into a DataFrame: medals_dict[year]
#     medals_dict[year] = pd.read_csv(file_path)
    
#     # Extract relevant columns: medals_dict[year]
#     medals_dict[year] = medals_dict[year][['Athlete',     'NOC', 'Medal']]
    
#     # Assign year to column 'Edition' of medals_dict
#     medals_dict[year]['Edition'] = year
    
# # Concatenate medals_dict: medals
# medals = pd.concat(medals_dict, ignore_index= True)

# # Print first and last 5 rows of medals
# print(medals.head())
# print(medals.tail())

In [36]:
# # Construct the pivot_table: medal_counts
# medal_counts = medals.pivot_table(index= 'Edition', values='Athlete', columns='NOC', aggfunc='count')

# # Print the first & last 5 rows of medal_counts
# print(medal_counts.head())
# print(medal_counts.tail())

In [37]:
# # Set Index of editions: totals
# totals = editions.set_index('Edition')

# # Reassign totals['Grand Total']: totals
# totals = totals['Grand Total']

# # Divide medal_counts by totals: fractions
# fractions = medal_counts.divide(totals, axis='rows')

# # Print first & last 5 rows of fractions
# print(fractions.head())
# print(fractions.tail())

In [38]:
# # Apply the expanding mean: mean_fractions
# mean_fractions = fractions.expanding().mean()

# # Compute the percentage change: fractions_change
# fractions_change = mean_fractions.pct_change()*100

# # Reset the index of fractions_change: fractions_change
# fractions_change = fractions_change.reset_index()

# # Print first & last 5 rows of fractions_change
# print(fractions_change.head())
# print(fractions_change.tail())

In [39]:
# # Import pandas
# import pandas as pd

# # Left join editions and ioc_codes: hosts
# hosts = pd.merge(editions, ioc_codes, how='left')

# # Extract relevant columns and set index: hosts
# hosts = hosts.loc[:, ['Edition', 'NOC']].set_index('Edition')

# # Fix missing 'NOC' values of hosts
# print(hosts.loc[hosts.NOC.isnull()])
# hosts.loc[1972, 'NOC'] = 'FRG'
# hosts.loc[1980, 'NOC'] = 'URS'
# hosts.loc[1988, 'NOC'] = 'KOR'

# # Reset Index of hosts: hosts
# hosts = hosts.reset_index()

# # Print hosts
# print(hosts)

In [40]:
# # Import pandas
# import pandas as pd

# # Reshape fractions_change: reshaped
# reshaped = pd.melt(fractions_change, id_vars='Edition', value_name='Change')

# # Print reshaped.shape and fractions_change.shape
# print(reshaped.shape, fractions_change.shape)

# # Extract rows from reshaped where 'NOC' == 'CHN': chn
# chn = reshaped[reshaped['NOC']=='CHN']

# # Print last 5 rows of chn with .tail()
# print(chn.tail())

In [41]:
# # Import pandas
# import pandas as pd

# # Merge reshaped and hosts: merged
# merged = pd.merge(reshaped, hosts, how='inner')

# # Print first 5 rows of merged
# print(merged.head())

# # Set Index of merged and sort it: influence
# influence = merged.set_index('Edition').sort_index()

# # Print first 5 rows of influence
# print(influence.head())

In [42]:
# # Import pyplot
# import matplotlib.pyplot as plt

# # Extract influence['Change']: change
# change = influence['Change']

# # Make bar plot of change: ax
# ax = change.plot(kind='bar')

# # Customize the plot to improve readability
# ax.set_ylabel("% Change of Host Country Medal Count")
# ax.set_title("Is there a Host Country Advantage?")
# ax.set_xticklabels(editions['City'])

# # Display the plot
# plt.show()